html {
    box-sizing: border-box;

}

*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.slider {
    background-color: #81e4ed;
    padding: 20px 0 40px;
}

.container {
    max-width: 1030px;
    margin: 0 auto;
    padding: 0 15px;
}

/* .slider__inner {} */

.slider__item,
#slick-slide00,
#slick-slide01,
#slick-slide02,
#slick-slide03,
#slick-slide04 {
    /* background-image: url(../images/bc-cof.png); */
    min-height: 440px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    margin-bottom: 15px;
}
#slick-slide00{
    background-image: url(../images/bc-cof.png);
}
#slick-slide01{
    background-image: url(../images/bc-2.jpg);
}
#slick-slide02{
    background-image: url(../images/bc-3.jpg);
}
#slick-slide03{
    background-image: url(../images/bc-4.png);
}
#slick-slide04{
    background-image: url(../images/bc-5.png);
}

.slider__item-title {
    font-size: 50px;
    line-height: 57px;
    font-weight: 700;
    color: #000;
    width: 300px;
    margin-left: 60px;
    padding-top: 100px;
}
.slick-dots li{
    margin: 0 9px;
    width: auto;
    height: auto;
}
.slick-dots li button{
    width: 14px;
    height: 14px;
    background-color: rgba(98, 98, 98, 0.5);
    border-radius: 50%;
}
.slick-dots li.slick-active button {
    background-color: #fff;
}
.slick-dots li button::before{
    display: none;
}