$or: #F16718;
$orl:#FF9B62;
$bdd:#162542;
$gb:#7B8BAD;
$gl:#E8EFF2;
$w:#fff;

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&display=swap');

html,
body {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.box {
    max-width: 1440px;
    background: $w;
    font-weight: 400;
    margin: 0 auto;
    font-family: 'Barlow';
    font-size: 16px;
    line-height: 26px;
    color: $gb;
    font-weight: 500;
}

.container {
    margin: 0 auto;
    max-width: 1110px;
}

.header {
    margin-top: 55px;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__btn {
        color: $bdd;
        font-weight: 700;

        

    }
}
.header__btn:hover{
    background-color: $bdd;
    color: $w;
}
.btn {
    display: flex;
    width: 175px;
    height: 58px;
    border-radius: 8px;
    background: $gl;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;

}

.top {
    background-image: url(../images/shared/pattern-square.svg);
    background-position: top 0 right -130px;
    background-repeat: no-repeat;
}

.top__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 83px;
    align-items: center;



    &__info {
        width: 445px;
        height: 312px;
    }

    &__info-title {
        font-weight: 900;
        font-size: 56px;
        line-height: 56px;
        color: $bdd;
        margin-bottom: 24px;
        text-transform: uppercase;
    }

    &__info-text {
        margin-bottom: 40px;
    }

    &__info-button {
        display: flex;
        gap: 40px;
        align-items: center;
    }

    &__info-button1 {
        background: $or;
        color: $w;
    }

    &__info-button2 {
        text-transform: uppercase;
        color: $gb;
    }

    &__img {
        width: 540px;
        height: 480px;
        border-radius: 20px;
    }
}
.top__inner__info-button1:hover{
    background-color: $orl;
    
}





.mid {
    margin-top: 30px;
    background-image: url(../images/shared/pattern-square.svg);
    background-position: bottom 0 left -130px;
    background-repeat: no-repeat;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__img1 {
            border-radius: 20px;

            &-or {
                width: 255px;
                height: 480px;
                background-color: $or;
                opacity: 0.8;
                border-radius: 20px;
            }

            width: 255px;
            height: 480px;
            background-image: url(../images/desktop/image-phone-and-keyboard.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }

        &__img2 img {
            width: 445px;
            height: 480px;
            border-radius: 20px;

        }

        &__info {
            width: 255px;
            height: 265px;
        }

        &__info-title {
            font-weight: 900;
            font-size: 32px;
            line-height: 36px;
            text-transform: uppercase;
            color: $bdd;
            margin-bottom: 27px;
        }


    }
}

.bottom {
    margin-top: 168px;

    &__inner {
        display: flex;
        justify-content: space-between;


        &__card {
            width: 255px;
            height: 323px;
        }

        &__card-logo {
            width: 65px;
            height: 65px;
            background-color: $or;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 16px;
            margin-bottom: 48px;

        }

        &__card-title {
            font-weight: 900;
            font-size: 24px;
            line-height: 28px;
            color: $bdd;
            margin-bottom: 23px;
        }


    }
}


.footer {
    margin-top: 128px;
    text-align: center;
    margin-bottom: 39px;

    &__text {
        font-weight: 700;

        span {
            font-weight: 500;
        }
    }
}